    <div data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-unwrap>
        <meta data-sly-call="${clientLib.all @ categories='designs.itc-poc.components.breadcrumb,apps.itc-poc.widgets.custom'}" data-sly-unwrap></meta>
    </div>
<div class="breadcrumb-container ${properties.hideBreadcrumb?'hideBreadcrumb':'showBreadcrumb'}">
<div data-sly-test="${properties.hideBreadcrumb == 'false' || properties.hideBreadcrumb == '' || properties.hideBreadcrumb == null }" data-sly-unwrap>
	

		<div class="breadWrapper">
			<ol class="breadcrumbs">     
				<li><a href="/">Home</a></li>
							
							<sly data-sly-use.breadcrumb="${'com.adobe.itc.poc.core.models.BreadCrumbComponent'}" />
							
						
							
								<div data-sly-test="${breadcrumb.isLinkPathExists}" data-sly-unwrap> 
							
									<div data-sly-list.key="${breadcrumb.userDefinedinks}" data-sly-unwrap >
									
										<div data-sly-test="${currentPage.properties.hideInNav !='true'}" data-sly-test="${!key.last}" data-sly-unwrap>
											<li  >
												<a href="${breadcrumb.userDefinedinks[key]}">${key} </a>
											</li>
											<li data-sly-test="${key.last}">${key} this is last one</li>
										
									</div>
									</div>
								</div>
								<div data-sly-test="${!breadcrumb.isLinkPathExists}" data-sly-unwrap>
									
									<div data-sly-test="${breadcrumb.navList}" data-sly-list.element="${breadcrumb.navList}" data-sly-unwrap > 
										
										<li ><a href="${element.path}.html">${element.navigationTitle || element.title || element.name}</a></li>
										
										
									
									</div>
									
									
								</div>
			</ol> 
		</div>
	</div>	
</div> 

<!--blank commit-->