<div data-sly-use.hero="homepage-hero.js" data-sly-unwrap></div>

<div class="row">
    <div class="single-mobile">
        ${hero.singleHero.topTextHtml @ context='html'}
    </div>
</div>

<div class="row">
    <div class="single-mobile">
        ${hero.singleHero.bottomTextHtml @ context='html'}
    </div>
</div>

<div class="row">
<div class="single-mobile">
	<div
		data-sly-test.backgroundColor="${properties['backgroundColor'] ? properties['backgroundColor'] : '' }"
		data-sly-unwrap></div>
	<div
		data-sly-test.backgroundColorHover="${properties['backgroundColorHover'] ? properties['backgroundColorHover'] : '' }"
		data-sly-unwrap></div>
	<div
		data-sly-test.borderColor="${properties['borderColor'] ? properties['borderColor'] : '' }"
		data-sly-unwrap></div>
	<div
		data-sly-test.borderColorHover="${properties['borderColorHover'] ? properties['borderColorHover'] : '' }"
		data-sly-unwrap></div>
	<div
		data-sly-test.fontColor="${properties['fontColor'] ? properties['fontColor'] : '' }"
		data-sly-unwrap></div>
	<div
		data-sly-test.fontColorHover="${properties['fontColorHover'] ? properties['fontColorHover'] : '' }"
		data-sly-unwrap></div>
	<div
		data-sly-test.iconPresent="${properties['faTileIcon'] ? properties['faTileIcon'] : '' }"
		data-sly-unwrap></div>



	<!-- Logic for Button as default color-->
	<div data-sly-test="${backgroundColor =='' || backgroundColor == null}"
		data-sly-unwrap>
		<div data-sly-test.backgroundColor="0099CC" data-sly-unwrap></div>
	</div>

	<div data-sly-test="${borderColor =='' || borderColor == null}"
		data-sly-unwrap>
		<div data-sly-test.borderColor="0099CC" data-sly-unwrap></div>
	</div>


	<div data-sly-test="${fontColor =='' || fontColor == null}"
		data-sly-unwrap>
		<div data-sly-test.fontColor="FFFFFF" data-sly-unwrap></div>
	</div>

	<div
		data-sly-test="${backgroundColorHover =='' || backgroundColorHover == null}"
		data-sly-unwrap>
		<div data-sly-test.backgroundColorHover="FFFFFF" data-sly-unwrap></div>
	</div>

	<div
		data-sly-test="${borderColorHover =='' || borderColorHover == null}"
		data-sly-unwrap>
		<div data-sly-test.borderColorHover="0099CC" data-sly-unwrap></div>
	</div>

	<div data-sly-test="${fontColorHover =='' || fontColorHover == null}"
		data-sly-unwrap>
		<div data-sly-test.fontColorHover="000000" data-sly-unwrap></div>
	</div>
	<!-- Logic for Button as default color-->
	<div
		data-sly-test="${newWindow =='' || newWindow == null || newWindow == 'false'}"
		data-sly-unwrap>
		<div data-sly-test.newWindow="" data-sly-unwrap></div>
	</div>
	<div data-sly-test="${newWindow =='true'}" data-sly-unwrap>
		<div data-sly-test.newWindow="_blank" data-sly-unwrap></div>
	</div>
	<sly
		data-sly-use.urlGen="${'com.adobe.itc.poc.core.utils.ValidUrlGenerator' @ path=properties['buttonURL']}" />
	<div class="buttonContainer"
		ontouchstart="
            this.getElementsByClassName('targetButtonClass')[0].style.backgroundColor = '#${backgroundColorHover @ context='styleToken'}';
            this.getElementsByClassName('targetButtonClass')[0].style.color='#${fontColorHover @ context='styleToken'}';
            this.getElementsByClassName('targetButtonClass')[0].style.border='3px solid #${borderColorHover @ context='styleToken'}'"
		onmouseover="
            this.getElementsByClassName('targetButtonClass')[0].style.backgroundColor = '#${backgroundColorHover @ context='styleToken'}';
            this.getElementsByClassName('targetButtonClass')[0].style.color='#${fontColorHover @ context='styleToken'}';
            this.getElementsByClassName('targetButtonClass')[0].style.border='3px solid #${borderColorHover @ context='styleToken'}'"
		onmouseout="
            this.getElementsByClassName('targetButtonClass')[0].style.backgroundColor = '#${backgroundColor @ context='styleToken'}';
            this.getElementsByClassName('targetButtonClass')[0].style.color='#${fontColor @ context='styleToken'}';
            this.getElementsByClassName('targetButtonClass')[0].style.border='3px solid #${borderColor @ context='styleToken'}'">
		<a data-ceid="RFI-hero" 
			href="${urlGen.getCompletePath @ context='unsafe'}"  
			style="color:#${fontColor @ context='styleToken'}; 
			background-color: #${backgroundColor @ context='styleToken'};  
			border:3px solid #${borderColor @ context='styleToken'} ;
			"data-currentpage="${currentPage.path}" 
			class="btn targetButtonClass ${properties['buttonSize']}" 
			target="${newWindow}" > ${properties.buttonText @ 
			context='unsafe'} <sly data-sly-test="${iconPresent != '' }" ><i 
			class="${iconPresent}" aria-hidden="true"></i></sly></a>
	</div>
	</div>
</div>
