<div data-sly-use.hero="homepage-hero.js" data-sly-unwrap></div>
<div data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-unwrap>
    <meta data-sly-call="${clientLib.js @ categories='designs.itc.poc.components.homepageHero'}" data-sly-unwrap></meta>
</div>
<!--/* Code for Image rendition for Default Image */-->

<div data-sly-test.imageReferencePathL="${properties.imageReferenceL}" data-sly-unwrap></div>
<div data-sly-test.imageReferenceMDPathL="${properties.imageReferenceMDL}" data-sly-unwrap></div>
<div data-sly-test.imageReferenceSMPathL="${properties.imageReferenceSML}" data-sly-unwrap></div>
<div data-sly-test.imageReferenceXSPathL="${properties.imageReferenceXSL}" data-sly-unwrap></div>
	
<div data-sly-test.isBigDesktopImageL="${!properties.isBigDesktopImageL}" data-sly-unwrap>
</div>
<div data-sly-test.isDesktopImageL="${!properties.isDesktopImageL}" data-sly-unwrap>   
</div>
<div data-sly-test.isTabletImageL="${!properties.isTabletImageL}" data-sly-unwrap>
</div>
<div data-sly-test.isMobileImageL="${!properties.isMobileImageL}" data-sly-unwrap>   
</div>


<div data-sly-test="${imageReferenceMDPathL =='none' || imageReferenceMDPathL == null || imageReferenceMDPathL == ''}" data-sly-unwrap>
	<div data-sly-test.imageReferenceMDPathL = "${imageReferencePathL}" data-sly-unwrap></div>
</div>
<div data-sly-test="${imageReferenceSMPathL =='none' || imageReferenceSMPathL == null || imageReferenceSMPathL == ''}" data-sly-unwrap>
	<div data-sly-test.imageReferenceSMPathL = "${imageReferenceMDPathL}" data-sly-unwrap></div>
</div>
<div data-sly-test="${imageReferenceXSPathL =='none' || imageReferenceXSPathL == null || imageReferenceXSPathL == ''}" data-sly-unwrap>
	<div data-sly-test.imageReferenceXSPathL = "${imageReferenceSMPathL}" data-sly-unwrap></div>
</div>
<!--/* Code to take input from Dialog - ENDS  */-->
<!--/* Code for Image rendition for Default Image */-->

<div data-sly-test.imageReferencePathR="${properties.imageReferenceR}" data-sly-unwrap></div>
<div data-sly-test.imageReferenceMDPathR="${properties.imageReferenceMDR}" data-sly-unwrap></div>
<div data-sly-test.imageReferenceSMPathR="${properties.imageReferenceSMR}" data-sly-unwrap></div>
<div data-sly-test.imageReferenceXSPathR="${properties.imageReferenceXSR}" data-sly-unwrap></div>
	
<div data-sly-test.isBigDesktopImageR="${!properties.isBigDesktopImageR}" data-sly-unwrap>
</div>
<div data-sly-test.isDesktopImageR="${!properties.isDesktopImageR}" data-sly-unwrap>   
</div>
<div data-sly-test.isTabletImageR="${!properties.isTabletImageR}" data-sly-unwrap>
</div>
<div data-sly-test.isMobileImageR="${!properties.isMobileImageR}" data-sly-unwrap>   
</div>


<div data-sly-test="${imageReferenceMDPathR =='none' || imageReferenceMDPathR == null || imageReferenceMDPathR == ''}" data-sly-unwrap>
	<div data-sly-test.imageReferenceMDPathR = "${imageReferencePathR}" data-sly-unwrap></div>
</div>
<div data-sly-test="${imageReferenceSMPathR =='none' || imageReferenceSMPathR == null || imageReferenceSMPathR == ''}" data-sly-unwrap>
	<div data-sly-test.imageReferenceSMPathR = "${imageReferenceMDPathR}" data-sly-unwrap></div>
</div>
<div data-sly-test="${imageReferenceXSPathR =='none' || imageReferenceXSPathR == null || imageReferenceXSPathR == ''}" data-sly-unwrap>
	<div data-sly-test.imageReferenceXSPathR = "${imageReferenceSMPathR}" data-sly-unwrap></div>
</div>
<!--/* Code to take input from Dialog - ENDS  */-->

<div data-sly-test="${hero.splitHero.showCenterBlock=='true'}" class="center-block" id="centerBlock">
    <div data-sly-test="${hero.splitHero.showArrows=='true'}" class="arrow-left"></div>
    ${hero.splitHero.centerBlockHeadingHtml @ context='html'}
    <div data-sly-test="${hero.splitHero.showArrows=='true'}" class="arrow-right"></div>
</div>

<div id="left" class="left">
    
	<img src="${imageReferencePathL @ context='uri'}" class="homepage-hero-img-rendition-left" alt='${hero.splitHero.leftContent.imageAltText || true}'
						 data-imageReferenceMDPathL="${imageReferenceMDPathL @ context='uri'}"
                         data-imageReferenceSMPathL="${imageReferenceSMPathL @ context='uri'}"
                         data-imageReferenceXSPathL="${imageReferenceXSPathL @ context='uri'}"
                         data-isBigDesktopImageL="${isBigDesktopImageL @ context='uri'}"
                         data-isDesktopImageL="${isDesktopImageL @ context='uri'}"
                         data-isTabletImageL="${isTabletImageL @ context='uri'}"
                         data-isMobileImageL="${isMobileImageL @ context='uri'} ">
						 </img>
    <div class="content hidden-xs col-sm-12">
        <div class="row no-gutter">
            <div class="pull-right col-xs-10 col-xs-pull-1 col-lg-7 col-lg-pull-2 content-container">
                ${hero.splitHero.leftContent.topTextHtml @ context='html'} ${hero.splitHero.leftContent.bottomTextHtml @ context='html'}
                <div data-sly-resource="${@path='splitHeroButtonLeft', resourceType='/apps/itc-poc/components/content/buttons'}"></div>
            </div>
        </div>
    </div>
</div>

<div id="right" class="right">
    
	<img src="${imageReferencePathR @ context='uri'}" class="homepage-hero-img-rendition-right" alt='${hero.splitHero.rightContent.imageAltText || true}'
						 data-imageReferenceMDPathR="${imageReferenceMDPathR @ context='uri'}"
                         data-imageReferenceSMPathR="${imageReferenceSMPathR @ context='uri'}"
                         data-imageReferenceXSPathR="${imageReferenceXSPathR @ context='uri'}"
                         data-isBigDesktopImageR="${isBigDesktopImageR @ context='uri'}"
                         data-isDesktopImageR="${isDesktopImageR @ context='uri'}"
                         data-isTabletImageR="${isTabletImageR @ context='uri'}"
                         data-isMobileImageR="${isMobileImageR @ context='uri'} ">
						 </img>
    <div class="content hidden-xs col-sm-12">
        <div class="row no-gutter">
            <div class="col-xs-10 col-xs-offset-1 col-lg-7 col-lg-offset-2 content-container">
                ${hero.splitHero.rightContent.topTextHtml @ context='html'} ${hero.splitHero.rightContent.bottomTextHtml @ context='html'}
                <div data-sly-resource="${@path='splitHeroButtonRight', resourceType='/apps/itc-poc/components/content/buttons'}"></div>
            </div>
        </div>
    </div>
</div>
