<div data-sly-use.hero="homepage-hero.js" data-sly-unwrap></div>

<div class="row">
    <div class="left-mobile">
        ${hero.splitHero.leftContent.topTextHtml @ context='html'}</div>
    <div class="right-mobile">
        ${hero.splitHero.rightContent.topTextHtml @ context='html'}</div>
</div>

<div class="row">
    <div class="left-mobile">
        ${hero.splitHero.leftContent.bottomTextHtml @ context='html'}</div>
    <div class="right-mobile">
        ${hero.splitHero.rightContent.bottomTextHtml @ context='html'}</div>
</div>

<div class="row">
    <div class="left-mobile"><div data-sly-resource="${@path='splitHeroButtonLeft', resourceType='/apps/itc-poc/components/content/buttons'}"></div></div>
    <div class="right-mobile"><div data-sly-resource="${@path='splitHeroButtonRight', resourceType='/apps/itc-poc/components/content/buttons'}"></div></div>
</div>
