.buttonContainer {
  display: inline-block;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #09c;
  border: 3px solid #09c;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 6px 27px;
  margin: 0 0 1.5rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 120ms background ease-in-out, 120ms color ease-in-out;
  -moz-transition: 120ms background ease-in-out, 120ms color ease-in-out;
  -o-transition: 120ms background ease-in-out, 120ms color ease-in-out;
  transition: 120ms background ease-in-out, 120ms color ease-in-out;
}
a {
  color: #405e71;
  font-weight: 700;
  word-wrap: break-word !important;
  -webkit-transition: 120ms all ease-in-out;
  -moz-transition: 120ms all ease-in-out;
  -o-transition: 120ms all ease-in-out;
  transition: 120ms all ease-in-out;
}
